body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 97.5%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.switch-mode {
    background-color: #ffcc00;
    color: #996600;
    font-weight: bolder;
    width: 100px;
    text-align: center;
}

.switch-mode.active {
    background-color: #4caf50;
    color: white;
}

.nova-secao {
    background-color: #4caf50;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 0;
}

main {
    display: flex;
}

.secao-container {
    width: 27.75%;
    padding-left: 5px;
    padding-right: 20px;
    border-left: 2px solid #ccc;
    position: fixed;
    right: 0;
    top: 120px;
}

.tarefas-container {
    width: 68%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 30%;
    overflow-x: auto;
    /*scroll horizontal*/
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    /*scroll em telas pequenas*/
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="color"] {
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
}

textarea {
    width: 96%;
    height: 100px;
    padding: 6px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.secao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.secao div:first-child {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.secao span {
    flex-grow: 1;
    margin-left: 10px;
    cursor: pointer;
    transition: font-weight 0.3s;
}

.secao span:hover {
    font-weight: bold;
    cursor: pointer;
}


td.nome-tarefa:hover {
    font-weight: bold;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
    height: 1rem;
    width: 1.7rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

/*célula de prioridade*/
td.prioridade {
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0;
}


/*centraliza input de cor e nome da seção*/
.modal-input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-input-group #corSecao {
    margin-left: 10px;
}

/*estiliza botões do form*/
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    margin: 5px;
    flex: 1;
}

.modal-buttons #salvarSecaoBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-x {
    color: gray;
    font-weight: normal;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
}

.btn-x:hover {
    color: red;
    font-weight: bolder;
}

.btn-check {
    color: gray;
    font-weight: normal;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
}

.btn-check:hover {
    color: green;
    font-weight: bolder;
}

.preenche-prioridade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 2.3em;
}

.preenche-prioridade span {
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.preenche-prioridade.baixa {
    background-color: grey;
}

.preenche-prioridade.média {
    background-color: #eace31;
}

.preenche-prioridade.alta {
    background-color: red;
}

.tarefa-cell {
    display: flex;
    align-items: center;
}

.alerta {
    margin-left: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#btnAddTarefa {
    height: 2.5vw;
    width: 2.5vw;
    margin-right: 1.3vw;
}

#btnRemoveTarefa {
    height: 2.5vw;
    width: 2.5vw;
}

#titulo_secao {

    font-size: 0.88vw;
}

/* media query para telas menores que 1024px*/
@media (max-width: 1024px) {
    main {
        display: block;
    }

    .secao-container {
        width: 100%;
        padding-left: 0;
        border-left: none;
        position: static;
        top: 0;
    }

    .tarefas-container {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }

    table {
        min-width: unset;
        /*tabela ocupa 100% da largura em telas menores*/
    }

    th,
    td {
        font-size: 0.9em;
        padding: 10px;
    }

    #btnAddTarefa {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1.3rem;
    }

    #btnRemoveTarefa {
        height: 2.5rem;
        width: 2.5rem;
    }

    #titulo_secao {
        font-size: 1rem;
    }
}